---
interface Column<T = any> {
  label: string;
  field?: keyof T;
  render?: (row: T) => string | number;
}

interface Props<T = any> {
  columns: Column<T>[];
  rows: T[];
  keyField?: keyof T;
  selectable?: boolean;
  entity?: string;
  onRowSelect?: (id: number, entity: string) => void;
}

const {
  columns = [],
  rows = [],
  keyField = 'id',
  selectable = false
} = Astro.props as Props;
---

<div class="table-wrapper" data-entity={Astro.props.entity}>
  <table>
    <thead>
      <tr>
        {selectable && (<th>
            <input type="checkbox"
            id="select-all"/>
        </th>
        )}
        {columns.map(col => (
          <th>{col.label}</th>
        ))}
      </tr>
    </thead>

    <tbody>
      {Array.isArray(rows) && rows.length > 0 ? (
        rows.map(row => (
          <tr
            class="table-row"
            data-id={row[keyField]}
            data-row={JSON.stringify(row)}
          >
            {selectable && (
              <td>
                <input
                  type="checkbox"
                  class="row-checkbox"
                  value={row[keyField]}
                />
              </td>
            )}

            {columns.map(col => (
              <td>
                {col.render
                  ? col.render(row)
                  : col.field
                  ? row[col.field]
                  : ''}
              </td>
            ))}
          </tr>
        ))
      ) : (
        <tr>
          <td colspan={columns.length + (selectable ? 1 : 0)}>
            ------------|SIN DATOS QUE MOSTRAR, PRESIONE "BUSCAR DEUDA" PARA CARGAR TODAS LAS DEUDAS |------------<br/>                                   
            TAMBIEN PUEDE USAR LOS FILTRO PARA DEUDAS ESPECIFICAS POR CLIENTE
          </td>
        </tr>
      )}
    </tbody>
  </table>
</div>

<script>
  import {selectedRow, activedModal} from '@/store/uistore';

  function handleRowClick(row) {
    selectedRow.set({
      entity: Astro.props.entity,
      data: row
    });

    activedModal.set({
      type: Astro.props.entity
    });
  }

  
  if (!window.__tablaBound) {
    window.__tablaBound = true;

    /*document.addEventListener('click', (e) => {

      if(e.target.closest('input, button, a, select, textarea')) return;
 
      const row = e.target.closest('.table-row');
      if (!row) return;

      const table = row.closest('.table-wrapper');
      if (!table) return;

      const entity = table.dataset.entity;
      const id = row.dataset.id;

      if (!id || !entity) return;

      // Usar callback en props
      const props = Astro.props;
      if (props.onRowSelect) {
        props.onRowSelect(Number(id), entity);
      }
    });*/
  }
</script>
